@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b3ebb6;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  font-weight: 500;
}

.nav-bar ul li {
  list-style: none;
}

.navbar-links li:hover {
  border-bottom: 2px solid gray;

  background-color: #0cf118;
  color: white;
}

.toggle {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 20px;
}

.collegeName {
  width: 75%;
  border: 2px solid #aaa;
  border-radius: 15px;
  margin: 8px 0;
  outline: none;
  padding: 15px;
  margin-top: 5%;
  margin-left: 14%;
  box-sizing: border-box;
}

.collegeName:focus {
  border-color: #0cf118;
  box-shadow: 0 0 8px 0 #0cf118;
}

.svg-view {
  margin-top: 4%;
  margin-left: 17%;
}

.download {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  font-size: 29px;
  background: #19cc72;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
  margin-left: 32%;
  margin-top: 1%;
}

.download:hover {
  background: #0cf118;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .toggle {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .logo {
    width: 320px;
    height: 320px;
    margin-left: 5%;
  }
  .svg-view {
    margin-top: 1%;
    margin-left: 5%;
  }
  .collegeName {
    margin-top: 20%;
  }
  .download {
    margin-left: 65px;
  }
}
